@font-face {
  font-family: "lato";
  src: url(fonts/Lato-Regular.ttf);
}
@font-face {
  font-family: "latoBold";
  src: url(fonts/Lato-Bold.ttf);
}
@font-face {
  font-family: "spartan";
  src: url(fonts/Spartan-Regular.ttf);
}
@font-face {
  font-family: "spartanBold";
  src: url(fonts/Spartan-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: lato;
  box-sizing: border-box;
}

.btn-primary {
  background-color: #fde1bd;
  color: #f25412;
  border: none;
  padding: 13px 25px;
  font-family: spartanBold;
  font-size: 17px;
  transition: 0.5s;
}
.btn-primary:hover {
  background-color: #fde1bd !important;
  color: #f25412 !important;
  transform: translateY(-5px);
}

.my-btn {
  background-color: #f25412;
  color: white;
  border: none;
  padding: 10px 25px;
  font-family: spartanBold;
  font-size: 17px;
  transition: 0.5s;
  border-radius: 5px;
}
.my-btn .bi-arrow-right {
  transition: 0.5s;
}
.my-btn:hover .bi-arrow-right {
  padding-left: 10px;
}

.btn-secondary {
  background-color: #eeeeee;
  color: #5f5f5f;
  border: none;
  padding: 13px 25px;
  font-family: spartanBold;
  font-size: 17px;
  transition: 0.5s;
}
.btn-secondary:hover {
  background-color: #fde1bd !important;
  color: #f25412 !important;
  transform: translateY(-5px);
}

.text-primary {
  color: #f25412 !important;
}

.bg-primary {
  background-color: #f25412 !important;
}

.text-blue {
  color: #4f5d77 !important;
}

a {
  text-decoration: none;
}

.tooltip .tooltip-inner {
  background-color: #f25412;
  font-size: 12px;
}

.tooltip .tooltip-arrow::before {
  border-top-color: #f25412 !important;
}

header .nav-top {
  background-color: #f4f4d8;
}
header .input-search {
  background-color: #f5f5f5;
  padding: 14px 20px;
}
header .nav_3 {
  margin-bottom: 30px;
  z-index: 99;
}
header .nav-ico {
  width: 18px;
  height: 18px;
}
header .nav-ico span {
  font-size: 10px;
}
header .nav-link {
  font-family: latoBold;
  font-size: 20px;
}
header .hero {
  margin-top: 100px;
}
header .slide-title {
  font-size: 52px;
  font-family: spartanBold;
}

.categorie {
  margin-top: 100px;
}
.categorie .categorie_container {
  transition: 0.3s;
}
.categorie .categorie_container:hover {
  transform: translateY(-5px);
}
.categorie .categorie_container h6 {
  padding: 10px;
  font-family: spartanBold;
  font-size: 12.5px;
}
.categorie .categorie_container .feature-1 {
  background-color: #fddde4;
}
.categorie .categorie_container .feature-2 {
  background-color: #d1e8f2;
}
.categorie .categorie_container .feature-3 {
  background-color: #cdebbc;
}
.categorie .categorie_container .feature-4 {
  background-color: #cdd4f8;
}
.categorie .categorie_container .feature-5 {
  background-color: #f6dbf6;
}
.categorie .categorie_container .feature-6 {
  background-color: #fff2e5;
}

.product {
  margin-top: 50px;
  margin-bottom: 50px;
}
.product .view {
  border-bottom: 3px solid #cce7d0;
  padding-bottom: 5px;
}
.product .view:hover .bi-chevron-double-right::before {
  transform: translateX(5px);
  transition: 0.5s;
}
.product .btn-shop {
  width: 55px;
  height: 55px;
  background-color: #e8f6ea;
  bottom: 30px;
  right: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.product .btn-shop:hover {
  background-color: #f25412;
  transform: translatey(-5px);
}
.product .btn-shop:hover .bi-bag-plus::before {
  color: white;
}
.product .card:hover {
  box-shadow: 0px 0px 25px rgb(219, 255, 225);
}
.product .card h6, .product .card h5 {
  cursor: pointer;
  transition: 0.3s;
}
.product .card h6:hover, .product .card h5:hover {
  color: #f25412 !important;
}
.product .card img {
  cursor: pointer;
}
.product .card .product-img {
  overflow: hidden;
}
.product .card .product-img .img-2 {
  background-image: url(images/product-1-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1s;
}
.product .card .product-img .img-3 {
  background-image: url(images/product-2-2.jpg);
}
.product .card .product-img .img-4 {
  background-image: url(images/product-3-2.jpg);
}
.product .card .product-img .img-5 {
  background-image: url(images/product-4-2.jpg);
}
.product .card .product-img .img-6 {
  background-image: url(images/product-5-2.jpg);
}
.product .card .product-img .img-7 {
  background-image: url(images/product-6-2.jpg);
}
.product .card .product-img .img-8 {
  background-image: url(images/product-7-2.jpg);
}
.product .card .product-img .img-9 {
  background-image: url(images/product-8-2.jpg);
}
.product .card:hover .img-2 {
  opacity: 1;
  transform: scale(105%);
}
.product .card .etiquette {
  padding: 2px 10px 0px;
  height: 30px;
  background-color: #ff75a0;
  top: 10px;
  left: 10px;
}
.product .card .etiquette-2 {
  background-color: #99bbad;
}
.product .card .etiquette-3 {
  background-color: #ffab73;
}
.product .card .etiquette-4 {
  background-color: #a1cae2;
}
.product .card .img-2 .div-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.product .card .img-2 .product-icon {
  background-color: #e8f6ea;
  width: 40px;
  height: 40px;
  box-shadow: 0px 0px 5px rgb(203, 203, 203);
  cursor: pointer;
  transition: 0.5s;
}
.product .card .img-2 .product-icon:hover {
  background-color: #f25412;
  transform: translateY(-5px);
}
.product .card .img-2 .product-icon:hover .bi {
  color: white !important;
}

.pub {
  background-image: url(images/banner-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 320px;
  margin-bottom: 50px;
  padding-top: 80px;
}
.pub h2 {
  font-size: 40px;
  line-height: 1.3;
}
.pub button {
  font-family: lato;
}
@media screen and (max-width: 576px) {
  .pub {
    padding-top: 40px;
  }
}
.pub h2 {
  font-family: latoBold;
}
.pub h4 {
  transition: 0.5s;
}
.pub:hover h4 {
  transform: translateX(10px);
}

.categorie-popular {
  margin-bottom: 50px;
}
.categorie-popular .card a {
  transition: 0.3s;
}
.categorie-popular .card:hover a {
  color: #f25412 !important;
}
.categorie-popular .card .product-img {
  overflow: hidden;
  cursor: pointer;
}
.categorie-popular .card .product-img .img-1 {
  transition: 0.5s;
}
.categorie-popular .card .product-img:hover .img-1 {
  opacity: 1;
  transform: scale(105%);
}

.publicite .pub-1 {
  margin-bottom: 50px;
}
.publicite .pub-1 h6 {
  margin-top: 30px;
}
.publicite .pub-1 h5 {
  font-family: latoBold;
  line-height: 1.3;
}
.publicite .pub-1 a {
  font-family: lato;
}
.publicite .pub-1 a .bi {
  transition: 0.5s;
}
.publicite .pub-1 a:hover .bi {
  padding-left: 5px;
}
.publicite .pub-1 h5 {
  transition: 0.5s;
}
.publicite .pub-1 .pub-text:hover h5 {
  transform: translateX(10px);
}

.new-arrivals h3 {
  font-family: latoBold;
}
.new-arrivals .view {
  border-bottom: 3px solid #cce7d0;
  padding-bottom: 5px;
}
.new-arrivals .view:hover .bi-chevron-double-right::before {
  transform: translateX(5px);
  transition: 0.5s;
}
.new-arrivals .btn-shop {
  width: 55px;
  height: 55px;
  background-color: #e8f6ea;
  bottom: 30px;
  right: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.new-arrivals .btn-shop:hover {
  background-color: #f25412;
  transform: translatey(-5px);
}
.new-arrivals .btn-shop:hover .bi-bag-plus::before {
  color: white;
}
.new-arrivals .card {
  transition: 0.5s;
}
.new-arrivals .card:hover {
  transform: translateY(-8px);
}
.new-arrivals .card h6, .new-arrivals .card h5 {
  cursor: pointer;
  transition: 0.3s;
}
.new-arrivals .card h6:hover, .new-arrivals .card h5:hover {
  color: #f25412 !important;
}
.new-arrivals .card img {
  cursor: pointer;
}
.new-arrivals .card .product-img {
  overflow: hidden;
}
.new-arrivals .card .product-img .img-2 {
  background-image: url(images/product-1-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 1s;
}
.new-arrivals .card .product-img .img-3 {
  background-image: url(images/product-2-2.jpg);
}
.new-arrivals .card .product-img .img-4 {
  background-image: url(images/product-3-2.jpg);
}
.new-arrivals .card .product-img .img-5 {
  background-image: url(images/product-4-2.jpg);
}
.new-arrivals .card .product-img .img-6 {
  background-image: url(images/product-5-2.jpg);
}
.new-arrivals .card .product-img .img-7 {
  background-image: url(images/product-6-2.jpg);
}
.new-arrivals .card .product-img .img-8 {
  background-image: url(images/product-7-2.jpg);
}
.new-arrivals .card .product-img .img-9 {
  background-image: url(images/product-8-2.jpg);
}
.new-arrivals .card:hover .img-2 {
  opacity: 1;
  transform: scale(105%);
}
.new-arrivals .card .etiquette {
  padding: 0px 8px 0px;
  height: 25px;
  background-color: #ff75a0;
  top: 5px;
  left: 5px;
}
.new-arrivals .card .etiquette p {
  font-size: 15px;
}
.new-arrivals .card .etiquette-2 {
  background-color: #99bbad;
}
.new-arrivals .card .etiquette-3 {
  background-color: #ffab73;
}
.new-arrivals .card .etiquette-4 {
  background-color: #a1cae2;
}
.new-arrivals .card .img-2 .div-icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.new-arrivals .card .img-2 .product-icon {
  background-color: #e8f6ea;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 5px rgb(203, 203, 203);
  cursor: pointer;
  transition: 0.5s;
}
.new-arrivals .card .img-2 .product-icon .bi {
  font-size: 14px;
}
.new-arrivals .card .img-2 .product-icon:hover {
  background-color: #f25412;
  transform: translateY(-5px);
}
.new-arrivals .card .img-2 .product-icon:hover .bi {
  color: white !important;
}

.featured-brands {
  margin-bottom: 50px;
}
.featured-brands img {
  opacity: 50%;
  transition: 0.5s;
}
.featured-brands img:hover {
  opacity: 100%;
}

.newsletter {
  background-color: #f4f4d8;
}
.newsletter h4 img {
  width: 40px;
}
.newsletter input {
  padding: 14px;
  box-shadow: none;
  outline: none;
}
.newsletter input:hover {
  box-shadow: none;
}
.newsletter button {
  transition: 0.5s;
}
.newsletter button:hover {
  background-color: #f25412 !important;
}

/*# sourceMappingURL=style.css.map */
